{
  "root": true,
  "env": {
    "browser": true,
    "es2020": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "prettier",
    "airbnb"
  ],
  "ignorePatterns": [
    "dist",
    "tailwind.config.js",
    "postcss.config.js",
    "vite.config.ts"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "react-refresh",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error"
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".tsx"
        ]
      }
    ],
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "jsx-quotes": "error",
    "quotes": [
      "error",
      "double",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "react-refresh/only-export-components": [
      "warn",
      {
        "allowConstantExport": true
      }
    ]
  }
}
